nav {
  height: 8vh;
  width: 100%;
  display: flex; /* make nav into a flex box so we can use justify-content and align-items properties */
  justify-content: space-between; /* make div and ul apart */
  align-items: center; /* make them center vertically in the navbar flex box */
  background-color: black;
  color: white;
  
}

nav div {
  display: block; /* make it block so we can add padding to adjust spacing */
  padding-left: 5vw;
  cursor: pointer;
}

nav ul {
  height: 100%; /* inherit height of navbar */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

nav li {
  list-style: none; /* get rid of bullet point */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
}

/* nav li a {
  display: flex;
} */

nav li:hover {
  background-color: #333;
  cursor: pointer;
}

nav > ul > li > a {
  font-family: 'Montserrat', sans-serif;
}

.download-btn2 {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    background: #fff;
    text-decoration: none;
}

.download-btn2:hover {
  background: lightblue;
}
/*
.Active {
  background-color: #4caf50;
} */
