nav {
  height: 8vh;
  display: flex; /* make nav into a flex box so we can use justify-content and aligh-items properties */
  justify-content: space-between; /* make div and ul apart */
  align-items: center; /* make them center vertically in the navbar flex box */
  background-color: black;
  color: white;
}

nav div {
  display: block; /* make it block so we can add padding to adjust spacing */
  padding-left: 5vw;
  cursor: pointer;
}

nav ul {
  height: 100%; /* inherit height of navbar */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

nav li {
  list-style: none; /* get rid of bullet point */
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* nav li a {
  display: flex;
} */

nav li:hover {
  background-color: #333;
  cursor: pointer;
}
/*
.Active {
  background-color: #4caf50;
} */
