nav {
  height: 8vh;
  width: 100%;
  display: flex; /* make nav into a flex box so we can use justify-content and align-items properties */
  justify-content: space-between; /* make div and ul apart */
  align-items: center; /* make them center vertically in the navbar flex box */
  background-color: black;
  color: white;
  /* position: sticky;
  top: 0;
  z-index: 1; */
}

.logo {
  margin-left: 5vw;
  cursor: pointer;
  font-family: "Marck Script", cursive;
  font-size: 25px;
  margin-top: 5px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

li {
  list-style: none; /* get rid of bullet point */
}

nav a {
  text-decoration: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: lightblue;
}

.download-btn2 {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  overflow: hidden;
  padding: 8px 20px;
  position: relative;
  background: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
}

.download-btn2:hover {
  background: lightblue;
  color: black;
}
/*
.Active {
  background-color: #4caf50;
} */
